
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

@import "~bulma/bulma";

@import "~font-awesome/scss/font-awesome";

.fa-center {
    padding: .4em;
    font-size: .6em;
}

.file-drop-area {
  border: 1px dashed lighten($brand-primary, 30%);
  border-radius: 3px;
  position: relative;
  max-width: 100%;
  padding: 26px 20px 30px;
  transition: 0.2s;
}

.fake-btn {
  border: 1px solid #9E9EC4;
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: calc(100% - 130px);
  vertical-align: middle;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: none;
  }
}
